<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ne.css">
    <link rel="stylesheet" href="/css/he.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body class="bg-black text-white">
    <!-- Start Of Header -->

    <div class="heat container">
        <div class="header">
            <div class="bar-img">
                <div class="header-bar">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path fill="white"
                            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                    </svg>
                </div>
                <div class="logo-img"><img src="" alt=""></div>
            </div>

            <div class="header-india">
                <div class="india">Genre</div>
                <div class="india-state">
                    <div class="wb">Action</div>
                    <div class="wb">Romance</div>
                    <div class="wb">Mystry</div>
                    <div class="wb">Drama</div>
                    <div class="wb">Comedy</div>
                </div>
            </div>

            <div class="search">
                <form class="searchform" action="https://xyxanime.rf.gd/query" method="get">
                    <button type="submit" class="search-box">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path fill="#95b6d0"
                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg>
                    </button>
                    <input type="search" name="name" class="search" id="search" placeholder="Search Your Anime..."
                        required>
                </form>
            </div>
        </div>

        <div class="phone">
            <form class="searchform" action="https://xyxanime.rf.gd/query" method="get">
                <button type="submit" class="p-search">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path fill="#95b6d0"
                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                    </svg>
                </button>
                <input type="search" class="search-in-p" placeholder="Search Your Anime..." required>
            </form>
        </div>
    </div>

    <!-- End Of Header -->

    {{!-- Start Of Net --}}

    <div class="net container">
        <div class="video-net">
            <video autoplay muted loop>
                <source
                    src="https://imdb-video.media-imdb.com/vi1826669337/1434659607842-pgv4ql-1636633238557.mp4?Expires=1708780115&Signature=OtTuRFPv7ug2XebqKbaW5ArvqCsNaBmWjsACTfpYK-Y-u1eU6Id38dqx9NEc8cTxPYoGxSpSTsVS6F9kT7aQHP4RqROtVldrB18ZYNuAvr0F5k0TK4K2DOli6NK1MPT0dZ4iy4upy-szRD78cGIZ4jrJg505SBJoDTE7HLQMneEU9kQPOO2ZW9VDSCjINTUtJkbGe3TZAnBCIfjw339XWrJNd9L3eGgaT7gYac7lvHUGnQiwd5Z46pVO42Sha9uonh6~D3XyuLgjxMS0G7qrkDzkszCEKpQhVRHosH94LcvyiPnXbu7wxRjPbFJNa9WFSCyFNcpVMFDk3T16bOjFOg__&Key-Pair-Id=APKAIFLZBVQZ24NQH3KA"
                    type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="net-wb-prime container">
        <div class="net-rest">
            <div class="img-net">
                <img src="{{vido}}" alt="">
            </div>
            <div class="you-need-net">
                <div class="net-name">{{jname}}</div>
                <div class="net-desc">{{storyline}}</div>
                <div class="pg-quality">
                    <div class="pg-net">PG-13</div>
                    <div class="quality-net">HD</div>
                </div>
                <div class="net-wifi-wb">
                    <div class="type-net">Type: <span>{{type}}</span></div>
                    <div class="premired-net">Premired: {{year}}</div>
                    <div class="genre-net">Genre:
                        <span>{{genre}}</span>
                    </div>
                    <div class="score-net">Score: {{rating}}</div>
                    <div class="ru-net">RunTime: {{runt}}</div>
                    <div class="status-net">Status: Releasing</div>
                    <div class="episode-your">Epiosode: <span>{{total}}</span></div>
                </div>
            </div>
        </div>
        <div class="net-part">
            <div class="net-episode">Episodes</div>
            <div class="net-wb">
                {{#each eptoat}}
                <div class="card-ep">
                    <div class="ep-image">
                        <a href="/watc/{{totalnum}}/{{idnum}}/{{total}}">
                            <img src="https://m.media-amazon.com/images/M/MV5BMTY3ZTE4Y2YtMjQ5OS00Yjc5LTgyYWUtODMwN2NlMDAyNDBkXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg" alt="">
                        </a>
                        <div class="ep-play">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="white" d="M32 461.3L0 480V443 69 32L32 50.7 352.2 237.5 384 256l-31.8 18.5L32 461.3zM320.5 256L32 87.7V424.3L320.5 256z"/></svg>
                        </div>
                    </div>

                    <div class="ep-tit">Ep {{idnum}}</div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
    {{!-- End Of Net --}}

</body>
<script src="/js/ne.js"></script>
<script src="/js/he.js"></script>

</html>