<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/ne.css">
    <link rel="stylesheet" href="/css/he.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body class="bg-black text-white">
    <!-- Start Of Header -->

    <div class="heat container">
        <div class="header">
            <div class="bar-img">
                <div class="header-bar">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path fill="white"
                            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                    </svg>
                </div>
                <div class="logo-img"><img src="" alt=""></div>
            </div>

            <div class="header-india">
                <div class="india">Genre</div>
                <div class="india-state">
                    <div class="wb">Action</div>
                    <div class="wb">Romance</div>
                    <div class="wb">Mystry</div>
                    <div class="wb">Drama</div>
                    <div class="wb">Comedy</div>
                </div>
            </div>

            <div class="search">
                <form class="searchform" action="/v1/search" method="get">
                    <button type="submit" class="search-box">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path fill="#95b6d0"
                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg>
                    </button>
                    <input type="search" name="q" class="search" id="search" placeholder="Search Your Anime..."
                        required>
                </form>
            </div>
        </div>

        <div class="phone">
            <form class="searchform" action="/v1/search" method="get">
                <button type="submit" class="p-search">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path fill="#95b6d0"
                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                    </svg>
                </button>
                <input type="search" name="q" class="search-in-p" placeholder="Search Your Anime..." required>
            </form>
        </div>
    </div>

    <!-- End Of Header -->

    {{!-- Start Of Net --}}

    <div class="net container">
        <div class="video-net">
            <video autoplay muted loop>
                <source
                    src="https://imdb-video.media-imdb.com/vi1705097753/1434659607842-pgv4ql-1563607790143.mp4?Expires=1709307879&Signature=Ct-GS-J1kt~xLVUOrxfp-ZCPNJZU4rbTMw6zf8Lh50jNNTrn5f6aqy-fwYQDkOXG-bEru8j0h6xZ3P-NvhRTj0LBz1I1H-Tb3Kkhf-5ODur0HiloT9E4Nc5PSBOpNlEeTB8wsy00DXqNH~dNjEtKAiUnf-SszKQ7v1ESc-p~sCOytofl8ZSIrU4hDSy1vEyxyyHptC3fTBtT~ojUowhrgTV-0GJaQWo5LiDiHc2-XNAEpmb7Ch~a~IJZF1TMXHLJ-KKtm9c0bvIjAQCEYKnHnsC55QdXNd~-1WHSdpsRIb-HP7dSLrXYWY4jb4fdg8NfkGOzXcsyFfYPHgFWPobCRQ__&Key-Pair-Id=APKAIFLZBVQZ24NQH3KA"
                    type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="net-wb-prime container">
        <div class="net-rest">
            <div class="img-net">
                <img src="{{imwbres.sta}}" alt="">
            </div>
            <div class="you-need-net">
                <div class="net-name">{{imwbres.name}}</div>
                <div class="net-desc">{{imwbres.desc}}</div>
                <div class="pg-quality">
                    <div class="pg-net">PG-13</div>
                    <div class="quality-net">HD</div>
                </div>
                <div class="net-wifi-wb">
                    <div class="type-net">Type: <span>{{imwbres.type}}</span></div>
                    <div class="premired-net">Premired: {{imwbres.year}}</div>
                    <div class="genre-net">Genre:
                        <span>{{imwbres.genre}}</span>
                    </div>
                    <div class="score-net">Score: {{imwbres.rating}}</div>
                    <div class="ru-net">RunTime: {{imwbres.runt}}</div>
                    <div class="status-net">Status: {{imwbres.status}}</div>
                    <div class="episode-your">Epiosode: <span>({{sub12}} SUB) ({{dub12}} DUB)</span></div>
                </div>
            </div>
        </div>
        <div class="net-part">
            <div class="net-episode">Episodes</div>
            <div class="net-wb">
                {{#each servep}}
                <div class="card-ep">
                    <div class="ep-image">
                        <a href="/watc/{{thetotaep}}/current-{{cut}}/sub-{{../sub12}}/dub-{{../dub12}}/1">
                            <img src="https://i.pinimg.com/564x/96/78/62/96786230db858b0c69629c70ab6a7528.jpg" alt="">
                        </a>
                        <div class="ep-play">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="white" d="M32 461.3L0 480V443 69 32L32 50.7 352.2 237.5 384 256l-31.8 18.5L32 461.3zM320.5 256L32 87.7V424.3L320.5 256z"/></svg>
                        </div>
                    </div>

                    <div class="ep-tit">Episode - {{cut}}</div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
    {{!-- End Of Net --}}

</body>
<script src="/js/ne.js"></script>
<script src="/js/he.js"></script>

</html>