<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/he.css">
    <link rel="stylesheet" href="/css/wa.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <!-- Start Of Header -->

    <div class="heat container">
        <div class="header">
            <div class="bar-img">
                <div class="header-bar">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path fill="white"
                            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                    </svg>
                </div>
                <div class="logo-img"><img src="" alt=""></div>
            </div>

            <div class="header-india">
                <div class="india">Genre</div>
                <div class="india-state">
                    <div class="wb">Action</div>
                    <div class="wb">Romance</div>
                    <div class="wb">Mystry</div>
                    <div class="wb">Drama</div>
                    <div class="wb">Comedy</div>
                </div>
            </div>

            <div class="search">
                <form class="searchform" action="/v1/search" method="get">
                    <button type="submit" class="search-box">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path fill="#95b6d0"
                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg>
                    </button>
                    <input type="search" name="q" class="search" id="search" placeholder="Search Your Anime..."
                        required>
                </form>
            </div>
        </div>

        <div class="phone">
            <form class="searchform" action="/v1/search" method="get">
                <button type="submit" class="p-search">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path fill="#95b6d0"
                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                    </svg>
                </button>
                <input type="search" name="q" class="search-in-p" placeholder="Search Your Anime..." required>
            </form>
        </div>
    </div>

    <!-- End Of Header -->

    {{!-- Start Of See --}}

    <div class="watc-pair container">
        <div class="iframe-lin">
            {{!-- <iframe src="https://xyxanime.rf.gd/ff?id={{watcid}}-episode-{{watcr}}" name="iframe" class="iframe"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media;gyroscope; picture-in-picture"
                scrolling="no" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> --}}

            <iframe src="https://xyxanime.rf.gd/playerx?id={{watcid}}-episode-{{watcr}}" name="iframe" class="iframe" frameborder="0"
                scrolling="no" allow="accelerometer; autoplay; encrypted-media;gyroscope; picture-in-picture"
                allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        </div>
        <div class="wa-shedule">
            {{#each gw}}

            <div class="wa-time"><a href="/watc/{{epnu}}/{{epid}}/{{watct}}" class="list-wa"
                    data-link="{{epid}}/80">{{epid}}. Epiosde {{epid}}</a></div>
            {{/each}}
        </div>
    </div>

    <div class="watc-ep container">
        <div class="watc-server">
            You are watching <strong>Episode {{watcr}}</strong><br>
            (If current server doesn't work please try other servers beside.)
        </div>
        <div class="watc-server-net">
            <div class="server-num"><a href="">DooDstreAM</a></div>
        </div>
    </div>
    {{!-- End Of See --}}

</body>
<script src="/js/he.js"></script>
<script src="/js/wa.js"></script>

</html>
